#product-overview {
  /* background-image: url(images/freedom.jpg);
  background-size: cover;
  background-position: center; */
  /* background-image: linear-gradient(to left bottom, red,  transparent); */
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url(images/freedom.jpg) center 30% / cover no-repeat border-box,
    linear-gradient(red, lightblue);
  width: 100%;
  height: 33rem;
  padding: 0.6rem;
  position: relative;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
  position: absolute;
  bottom: 5%;
  left: 4%;
  font-size: 1.6rem;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

.plan__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plan {
  background: lightgreen;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem;
  width: 30%;
  display: inline-block;
  vertical-align: middle;
  min-width: 13.125rem;
  max-width: 25rem;
  height: 23rem;
}

.plan--highlighted {
  background: rgb(0, 122, 0);
  color: white;
  height: 25rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.34);
}

.plan__annotation {
  font-size: 1.4rem;
  color: rgb(0, 122, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: 0.0125rem 0.0125rem 0.1875rem 0.1875rem rgba(0, 0, 0, 0.34);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.plan__title {
  color: darkgreen;
}

.plan__price {
  color: rgba(128, 128, 128, 0.8);
}

.plan--highlighted .plan__title {
  color: white;
}

.plan--highlighted .plan__price {
  color: rgba(255, 255, 255, 0.42);
}

.plan__description {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__description__li {
  margin: 0.5rem 0px;
}

#key-features {
  background: #ff1b68;
  margin-top: 5rem;
  padding: 1rem;
}

#key-features .section-title {
  color: rgb(255, 188, 240);
  margin: 2rem;
}

.good-reasons {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.good-reason {
  width: 100%;
}

.good-reason_description {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
}

.good-reason_image {
  background: rgba(255, 67, 161, 0.548);
  width: 8rem;
  height: 8rem;
  margin: auto;
  border: 0.0125rem solid #424242;
  border-radius: 50%;
  padding: 1.4rem;
}

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}

@media (min-width: 40rem) and (max-width: 57rem) {
  .plan__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .plan {
    background: lightgreen;
    padding: 1rem;
    margin: 1rem auto;
    width: 100%;
  }

  .plan--highlighted {
    background: rgb(0, 122, 0);
    color: white;
    box-shadow: none; /*2px 2px 2px 2px rgba(0, 0, 0, 0.34);*/
  }

  .good-reasons {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .good-reason {
    width: 100%;
  }
}

@media (max-width: 40rem) {
  #product-overview {
    height: 40vh;
  }

  #product-overview h1 {
    font-size: 2rem;
    background: center;
  }

  .plan__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .plan {
    background: lightgreen;
    padding: 1rem;
    margin: 1rem auto;
    width: 100%;
  }

  .plan--highlighted {
    background: rgb(0, 122, 0);
    color: white;
    box-shadow: none; /*2px 2px 2px 2px rgba(0, 0, 0, 0.34);*/
  }

  .good-reasons {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  #product-overview {
    margin-top: 4rem;
  }
}
