main {
  padding-top: 2rem;
}

.clearfix {
  clear: both;
}

.background {
  background: url("../images/plans-background.jpg") center/cover;
  filter: grayscale(30%);
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

.section-plus {
  position: relative;
  margin-top: 5rem;
  background: rgba(144, 238, 144, 0.76);
  border: 4px solid rgb(0, 68, 0);
  transition: border-color 0.4s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  border-left: 0;
  width: 70%;
  padding: 0px 1.4rem 2rem 1.4rem;
  z-index: 1;
}

.section-plus:hover {
  border-color: red;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.34);
}

.recommendent__plan {
  position: absolute;
  margin: 1.2rem;
  right: 0;
  top: 0;
  font-size: 0.8rem;
  color: white;
  background: #ff5454;
  padding: 0.5rem;
  z-index: 10;
}

.section-free {
  position: relative;
  margin-top: 1.4rem;
  background: rgba(185, 255, 185, 0.776);
  border: 4px solid rgb(0, 68, 0);
  transition: border-color 0.4s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  border-right: 0;
  padding: 0px 1.4rem 2rem 1.4rem;
  float: right;
  text-align: right;
}

.section-free:hover {
  border-color: red;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.34);
}

.section-premium {
  position: relative;
  margin-top: 1.4rem;
  background: rgba(0, 100, 0, 0.968);
  border: 4px solid rgb(0, 68, 0);
  transition: border-color 0.4s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  border-left: 0;
  width: 70%;
  padding: 0px 1.4rem 2rem 1.4rem;
}

.section-premium:hover {
  border-color: red;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.34);
}

.section__a {
  text-decoration: none;
  margin-left: 1.4rem;
}

.section__h1 {
  margin-left: 1.4rem;
  color: black;
}

.section__h1-premium {
  margin-left: 1.4rem;
  color: rgb(255, 255, 255);
}

.section__h2 {
  margin-left: 1.4rem;
  color: gray;
}

.section__h2-premium {
  margin-left: 1.4rem;
  color: rgb(214, 214, 214);
}

.section__p {
  margin-left: 1.6rem;
  background: white;
  padding: 1.4rem;
  margin: 0.8rem;
  border: 2px solid black;
  color: darkgreen;
  font-size: 1.4rem;
  font-weight: 500;
}
