main {
  padding-top: 1rem;
}

.signup-title {
  text-align: center;
  font-size: 1.8rem;
  color: rgb(199, 41, 41);
}

.signup-form {
  margin: auto;
  width: 30rem;
  display: grid;
  grid-template-columns: 10rem auto;
  grid-row-gap: 1rem;
  grid-column-gap: 0.5rem;
}

.signup-form__checkbox {
  grid-column: span 2;
}

#title {
  grid-column: span 2;
}

.signup-form label,
.signup-form input,
signup-form select {
  display: block;
  width: 100%;
}

.signup-form input[type="checkbox"],
.signup-form input[type="checkbox"] + label {
  display: inline-block;
  width: auto;
  vertical-align: bottom;
}

.signup-form input:not([type="checkbox"]),
.signup-form select {
  border: 1px solid #d0d0d0;
  padding: 0.2rem 0.5rem;
  font: inherit;
}

.signup-form input:focus,
.signup-form select:focus {
  outline: none;
  background: rgb(182, 251, 175);
  border-color: #2ddf5c;
}

.signup-form button[type="submit"] {
  display: block;
}

.signup-form input[type="checkbox"] {
  border: 1px solid #ccc;
  background: white;
  height: 1rem;
  width: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.signup-form input[type="checkbox"]:checked {
  background: #2ddf5c;
  border: darkgreen;
}

.signup-form input.invalid,
.signup-form select.invalid,
.signup-form :invalid {
  border-color: red !important;
  background: #faacac;
}

.modal {
  visibility: hidden;
  position: fixed;
  opacity: 0;
  transform: translateY(-3rem);
  transition: opacity 300ms ease-out, transform 500ms ease-out,
    visibility 300ms ease-out;
  z-index: 200;
  top: 35%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-family: "Montserrat", sans-serif;
  padding: 2rem 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.button--modal {
  margin-top: 1rem;
  background: #0e4f1f;
  color: white;
  font: inherit;
  border: 1.5px solid #0e4f1f;
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

.button--modal:hover,
.button--modal:active {
  background-color: rgb(184, 253, 184);
  color: black;
}

@media (max-width: 40rem) {
  .signup-form {
    padding: 1rem;
    width: 22rem;
    grid-auto-rows: 2rem;
  }
}
